.breadcrumb-button {
    margin-top: 10px;
    padding: 8px 0;
}

.logo-disp img {
    width: 226px;
    height: 95px;
}

ul {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
}

.center {
    margin: auto;
    width: 60%;
    /*border:3px solid #73AD21;*/
    padding: 10px;
}

/* input check box style */

.is-iron-check label.check { font-size: 24px; }

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */

.right-align {
    text-align: right;
}

.select2-container {
    width: 90% !important;
}