<!-- start: MAIN CONTAINER 
<div class="main-container inner">
     start: PAGE 
    <div class="main-content">
         start: PANEL CONFIGURATION MODAL FORM 
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <ol class="breadcrumb">
                        <li>
                            <a href="#">
                                Employees
                            </a>
                        </li>
                        <li class="active">
                            Employees Listing
                        </li>
                    </ol>
                </div>
                <div class="col-md-9">
                    <a href="#/new-employee"><button type="button" class="btn btn-success breadcrumb-button" name="view-listing">Add New Employee</button></a>
                </div>
            </div>
            <div class="panel panel-white" style="overflow-y: hidden;">
                <div class="panel-heading col-md-6 col-sm-6 col-xs-6">
                    <h4 class="panel-title">Employees <span class="text-bold">List</span></h4>
                </div>
                <div class="panel-heading">
                    <div class="col-md-6 col-sm-6 col-xs-6 right-align">
                        <a href="employee/downloadEmployeeDetails" title=""><button title="Download Employee details" class="btn btn-info"><i class="fa fa-download"> Export Employee Details</i></button></a>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                        <thead>
                            <tr>
                                <th>S.N/ID</th>
                                <th class="hidden-xs">First Name</th>
                                <th>Middle Name</th>
                                <th>Last Name</th>
                                <th>Email Id</th>
                                <th>Employee Type Id</th>
                                <th>City Id</th>
                                <th>Pan No</th>
                                <th>Address Line1</th>
                                <th>Address Line2</th>
                                <th>Driving Listien No</th>
                                <th>Adhar No</th>
                                <th>Age</th>
                                <th>Birth Date</th>
                                <th>Gender</th>
                                <th>Office Email Id</th>
                                <th>City</th>
                                <th>Location</th>
                                <th>Area</th>
                                <th>Mobile No</th>
                                <th>Home No</th>
                                <th>Operation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="employee in employeeList track by $index" id="row-{{employee.id}}">
                                <td>{{employee.id}}</td>
                                <td class="hidden-xs">{{employee.first_name}}</td>
                                <td>{{employee.middle_name}}</td>
                                <td>{{employee.last_name}}</td>
                                <td>{{employee.email_id}}</td>
                                <td>{{employeeTypeList[employee.employee_type_id].name}}</td>
                                <td>{{employee.city_id}}</td>
                                <td>{{employee.pan_no}}</td>
                                <td>{{employee.address_line1}}</td>
                                <td>{{employee.address_line2}}</td>
                                <td>{{employee.driving_listien_no}}</td>
                                <td>{{employee.adhar_no}}</td>
                                <td>{{employee.age}}</td>
                                <td>{{employee.birth_date}}</td>
                                <td>{{employee.gender}}</td>
                                <td>{{employee.office_email_id}}</td>
                                <td>{{employee.city}}</td>
                                <td>{{employee.location}}</td>
                                <td>{{employee.area}}</td>
                                <td>{{employee.mobile_no}}</td>
                                <td>{{employee.home_no}}</td>
                                <td>
                                    <a class="btn" href="#/add-employee/edit/{{employee.id}}">
                                        <i title="Edit" class="fa fa-pencil"></i>
                                    </a>
                                    <a  data-target=".bs-example-modal-sm" data-toggle="modal" class="btn" id="cancellSweetAlert" ng-click="deleteConfirm(employee.id)">
                                    <i title="Delete" class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

             Small modal 
            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                                ×
                            </button>
                            <h4 id="myLargeModalLabel" class="modal-title">Delete Employees</h4>
                        </div>
                        <div class="modal-body">
                            <p>
                                Do you want to delete the Employees?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default" type="button">
                                Close
                            </button>
                            <button class="btn btn-primary" type="button" ng-click="deleteEmployees();">
                                Delete IT!
                            </button>
                        </div>
                    </div>
                     /.modal-content 
                </div>
            </div>

            <div class="col-md-12 center">
                <a href="#/new-employee"><button type="button" class="btn btn-info breadcrumb-button" name="view-listing">Add New Employee</button></a>
            </div>
        </div>
    </div>
</div>-->


<!-- start: MAIN CONTAINER -->
<div class="main-container inner">
    <!-- start: PAGE -->
    <div class="main-content">
        <!-- start: PANEL CONFIGURATION MODAL FORM -->
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ol class="breadcrumb">
                        <li>
                            <a href="#">
                                Employee
                            </a>
                        </li>
                        <li class="active">
                            View Employees
                        </li>
                    </ol>
                </div>
                <div class="col-md-8">
                    <a  href="#/add-employee"><button type="button" class="btn btn-success breadcrumb-button" name="view-listing"><i class="fa fa-plus-circle"> Add New Employee</i></button></a>
                   
                </div>
               
            </div>

            <div class="panel panel-white" style="overflow-y: hidden;">
                <div class="panel-heading">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <h4 class="panel-title">Challan <span class="text-bold">List</span></h4>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 right-align">
                        <a href="challan/downloadChallanDetails" title=""><button title="Download Payment details" class="btn btn-info"><i class="fa fa-download"> Export Employee Types</i></button></a>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12" ng-if="insertSuccess == true && showMessage == true">
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{message}}
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12" ng-if="insertSuccess == false && showMessage == true">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{message}}
                    </div>
                </div>

                <div class="panel-body">
                    <!--                    <table id="sample_1" class="table table-striped table-bordered table-hover table-full-width">-->
                    <table datatable="ng" dt-options="dtOptions" class="table table-hover">
                        <thead>
                            <tr>
                                <th>S.N/ID</th>
                                <th class="hidden-xs">First Name</th>
                                <th>Middle Name</th>
                                <th>Last Name</th>
                                <th>Email Id</th>
                                <th>Employee Type Id</th>
                                <th>Address Line1</th>
                                <th>Age</th>
                                <th>Birth Date</th>
                                <th>Gender</th>
                                <th>Office Email Id</th>
                                <th>Mobile No</th>
                                <th>Operation</th>
                            </tr>
                        </thead>
                        <tbody>
                             <tr ng-repeat="employee in employeeList track by $index" id="row-{{employee.id}}">
                                <td>{{employee.id}}</td>
                                <td>{{employee.first_name}}</td>
                                <td>{{employee.middle_name}}</td>
                                <td>{{employee.last_name}}</td>
                                <td>{{employee.email_id}}</td>
                                <td>{{employee.employee_type}}</td>
                                <td>{{employee.address_line1}}</td>
                                <td>{{employee.age}}</td>
                                <td>{{employee.birth_date}}</td>
                                <td>{{employee.gender}}</td>
                                <td>{{employee.office_email_id}}</td>
                                <td>{{employee.mobile_no}}</td>
                                <td>
                                    <a class="btn" href="#/add-employee/edit/{{employee.id}}">
                                        <i title="Edit" class="fa fa-pencil"></i>
                                    </a>
                                    <a  data-target=".bs-example-modal-sm" data-toggle="modal" class="btn" id="cancellSweetAlert" ng-click="deleteConfirm(employee.id)">
                                    <i title="Delete" class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Small modal -->
            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                                ×
                            </button>
                            <h4 id="myLargeModalLabel" class="modal-title">Delete Client</h4>
                        </div>
                        <div class="modal-body">
                            <p>
                                Do you want to delete the Package?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default" type="button">
                                Close
                            </button>
                            <button class="btn btn-primary" type="button" ng-click="deleteEmployees();">
                                Delete IT!
                            </button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
            </div>

            
            

            

            <div class="col-md-12 center">
                <a href="#/add-employee"><button type="button" class="btn btn-info breadcrumb-button" name="view-listing"><i class="fa fa-plus-circle"> Add New Employee</i></button></a>
            </div>
        </div>
    </div>
</div>
<script>
            $(document).ready(function () {
                $('#sample_1').dataTable({
                    "aoColumnDefs": [{
                            "aTargets": [0]
                        }],
                    "oLanguage": {
                        "sLengthMenu": "Show _MENU_ Rows",
                        "sSearch": "",
                        "oPaginate": {
                            "sPrevious": "",
                            "sNext": ""
                        }
                    },
                    "aaSorting": [[1, 'asc']],
                    "aLengthMenu": [[5, 10, 15, 20, -1], [5, 10, 15, 20, "All"] // change per page values here
                    ],
                    // set the initial value
                    "iDisplayLength": 10,
                });
                $('#sample_1_wrapper .dataTables_filter input').addClass("form-control input-sm").attr("placeholder", "Search");
                // modify table search input
                $('#sample_1_wrapper .dataTables_length select').addClass("m-wrap small");
                // modify table per page dropdown
                $('#sample_1_wrapper .dataTables_length select').select2();
                // initialzie select2 dropdown
                $('#sample_1_column_toggler input[type="checkbox"]').change(function () {
                    /* Get the DataTables object again - this is not a recreation, just a get of the object */
                    var iCol = parseInt($(this).attr("data-column"));
                    var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
                    oTable.fnSetColumnVis(iCol, (bVis ? false : true));
                });
            });</script>