.panel-body{
padding : 15px 0px 13% !important;
margin-left:30%;
margin-top:10%;
}
.col-md-9{
	width:47% !important;
}
.swMain{
	padding:6% 12%;
}
.modal-overflow{
	margin-top:15%!important;
	margin-left:15%;
}